.site-head .topbar {
    height: 32px;
    background: #2A2A2A;
    line-height: 32px;
    min-width: 1152px;
}

/* 所有a标签图标 */
.site-head .topbar a {
    color: white;
}

.site-head .topbar .shortcut-links {
    float: left;
}

.site-head .topbar .shortcut-links ul {}

/* 为了防止下拉菜单的元素受影响使用子选择符 */
.site-head .topbar .shortcut-links>ul>li {
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu {
    padding-right: 12px;
    position: relative;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu {
    position: absolute;
    top: 32px;
    left: 0;
    /* 防止被盖住 */
    z-index: 9999;
    /* 隐藏 */
    display: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

.site-head .topbar .shortcut-links>ul>li.have-menu:hover .menu {
    display: block;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .sqmenu {
    width: 107px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .scmenu {
    width: 60px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .jdmenu {
    width: 48px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu .menu-list li {
    height: 20px;
    line-height: 18px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu .menu-list a {
    font-size: 12px;
    color: #1C1F21;
    line-height: 18px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu .menu-list a:hover {
    color: orange;
}

/* 制作三角形样式非常巧妙*/
.site-head .topbar .shortcut-links>ul>li.have-menu .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transition: transform .2s ease 0s;
}

.site-head .topbar .shortcut-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .shortcut-links>ul>li.have-menu .arrow b {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 6px;
    height: 6px;
    background-color: white;
    transform: rotate(45deg);
}

.site-head .topbar .shortcut-links>ul>li.have-menu .arrow i {
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 6px;
    height: 6px;
    background-color: #2A2A2A;
    transform: rotate(45deg);
}

.site-head .topbar .topbar-r {
    float: right;
    width: 225px;
    color: #FFFFFF;
}

/* 并集选择器选择 */
.site-head .topbar .topbar-r a,
.site-head .topbar .topbar-r span {
    margin-right: 9px;
    font-size: 15px;
}

.site-head .topbar .topbar-r a:last-child {
    margin-right: 0;
}