.slider,.slider-content,.slider-item,.slider-img {
    width: 100%;
    height: 100%;
}
.slider{
    overflow: hidden;
}

.slider-item{
    float: left;
}
.slider-img{
    /* 图片下面有缝隙 将图片变成快就不会有 */
    /* display: block; */
    vertical-align: middle;
}
.slider-animation{
    transition-property: transform;
    transition-duration: 0ms;
}